html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Clear the float */
}

.container {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 8%;
  left: 0;

  display: flex;
  flex-direction: row;  
  
  margin: 0;
}

.segments {
  height: 100%;
  width: 98%;

  background-color: rgb(87, 85, 84);
  border: #000000;

  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

}

.selection_closed {
  height: 100%;
  width: 2%;

  background-color: #3a0d0d;
  border: 1px solid #000000;
  
  transition: background-color 1s;

  margin: 0;
}

.selection_closed:hover {
  background-color: #b40000;
}

#buttonGrid {
  height: 100%;
  width: 100%;

  position: relative;
  top: 15%;
  left: 5%;

  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(4, 10%); 
  gap: 10%;
}

.buttons {
  background-color: #640000;
  border: 1px solid goldenrod;

  border-radius: 4px;

  color: #fff;

  transition: 0.5s;
}

.buttons:hover {
  background-color: goldenrod;
  border: #640000;

  border-radius: 4px;

  color: #640000;
}